body {
    margin: 0;
    font-size: 21px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fondo_header {
    background-color: #191c1f;
    color: white;
    padding: 10px;
    box-shadow: #191c1f 0px 0px 10px 0px;
}

.contenedor {
    display: flex;
}

.lateral {
    width: 20%;
    padding: 15px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;

}

.principal {
    width: 80%;
    padding: 20px;
}

.lista_aside {
    list-style: none;
    padding: 0px;
}

.elemento_lista {
    margin-bottom: 10px;
    color: #0d6efd;
    display: flex;
}

.elemento_lista:hover {
    color: gray;
    cursor: pointer;
    background-color: gainsboro;
    border-radius: 5px;
}

.ancho_tabla {
    width: 100%;
}

.fondo_fila {
    background-color: #f2f2f2;
    border-bottom: 1px solid gray;
}

table {
    border-collapse: collapse;
}

.menu{
    display: none;
}
@media (max-width:500px) {

    .lateral {
        display: none;
    }
    .menu{
        display: inline;
    }
}